<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.adam.sys.excelupload.dao.ExcelFormDao">
	<resultMap id="BaseResultMap" type="com.adam.sys.excelupload.entity.ExcelForm">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="url" property="url" jdbcType="VARCHAR" />
		<result column="email" property="email" jdbcType="VARCHAR" />
		<result column="creator" property="creator" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="updator" property="updator" jdbcType="VARCHAR" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
		<result column="is_deleted" property="isDeleted" jdbcType="INTEGER" />
	</resultMap>
	<sql id="Base_Column_List">
		id,name,url,email
	</sql>

	<select id="query" resultMap="BaseResultMap">
		select 
		<include refid="Base_Column_List"/>
		from t_sys_excel where id = 1
	</select>
	
	<update id="update" parameterType="com.adam.sys.excelupload.entity.ExcelForm">
		update t_sys_excel set  update_time = NOW(),updator = #{updator},name = #{name},url = #{url},email = #{email}
		<where>
			id = 1
		</where>
	</update>
	
</mapper>