<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.adam.mipet.goods.dao.ShopsGoodsMapper" >
  <resultMap id="BaseResultMap" type="com.adam.mipet.goods.entity.ShopsGoods" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="types" property="types" jdbcType="INTEGER" />
    <result column="post_price" property="postPrice" jdbcType="INTEGER" />
    <result column="goods_price" property="goodsPrice" jdbcType="DOUBLE" />
    <result column="position" property="position" jdbcType="VARCHAR" />
    <result column="main_image" property="mainImage" jdbcType="VARCHAR" />
    <result column="html_content" property="htmlContent" jdbcType="VARCHAR" />
    <result column="goods_link" property="goodsLink" jdbcType="VARCHAR" />
    <result column="enabled" property="enabled" jdbcType="INTEGER" />
    <result column="deleted" property="deleted" jdbcType="INTEGER" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, title, types, post_price, goods_price, position, main_image, html_content, goods_link, 
    enabled, deleted, update_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.adam.mipet.goods.entity.ShopsGoodsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from shops_goods
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
      order by update_time desc
      <if test="start !=0 or limit!=0">
			limit #{start},#{limit}
	</if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from shops_goods
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from shops_goods
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.adam.mipet.goods.entity.ShopsGoodsExample" >
    delete from shops_goods
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.adam.mipet.goods.entity.ShopsGoods" >
    insert into shops_goods (title, types, 
      post_price, goods_price, position, 
      main_image, html_content, goods_link, 
      enabled, deleted, update_time
      )
    values (#{title,jdbcType=VARCHAR}, #{types,jdbcType=INTEGER}, 
      #{postPrice,jdbcType=INTEGER}, #{goodsPrice,jdbcType=DOUBLE}, #{position,jdbcType=VARCHAR}, 
      #{mainImage,jdbcType=VARCHAR}, #{htmlContent,jdbcType=VARCHAR}, #{goodsLink,jdbcType=VARCHAR}, 
      0,0,now()
      )
  </insert>
  <select id="countByExample" parameterType="com.adam.mipet.goods.entity.ShopsGoodsExample" resultType="java.lang.Integer" >
    select count(*) from shops_goods
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update shops_goods
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.title != null" >
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.types != null" >
        types = #{record.types,jdbcType=INTEGER},
      </if>
      <if test="record.postPrice != null" >
        post_price = #{record.postPrice,jdbcType=INTEGER},
      </if>
      <if test="record.goodsPrice != null" >
        goods_price = #{record.goodsPrice,jdbcType=DOUBLE},
      </if>
      <if test="record.position != null" >
        position = #{record.position,jdbcType=VARCHAR},
      </if>
      <if test="record.mainImage != null" >
        main_image = #{record.mainImage,jdbcType=VARCHAR},
      </if>
      <if test="record.htmlContent != null" >
        html_content = #{record.htmlContent,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsLink != null" >
        goods_link = #{record.goodsLink,jdbcType=VARCHAR},
      </if>
      <if test="record.enabled != null" >
        enabled = #{record.enabled,jdbcType=INTEGER},
      </if>
      <if test="record.deleted != null" >
        deleted = #{record.deleted,jdbcType=INTEGER},
      </if>
        update_time = now(),
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update shops_goods
    set id = #{record.id,jdbcType=INTEGER},
      title = #{record.title,jdbcType=VARCHAR},
      types = #{record.types,jdbcType=INTEGER},
      post_price = #{record.postPrice,jdbcType=INTEGER},
      goods_price = #{record.goodsPrice,jdbcType=DOUBLE},
      position = #{record.position,jdbcType=VARCHAR},
      main_image = #{record.mainImage,jdbcType=VARCHAR},
      html_content = #{record.htmlContent,jdbcType=VARCHAR},
      goods_link = #{record.goodsLink,jdbcType=VARCHAR},
      enabled = #{record.enabled,jdbcType=INTEGER},
      deleted = #{record.deleted,jdbcType=INTEGER},
      update_time = now()
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.adam.mipet.goods.entity.ShopsGoods" >
    update shops_goods
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="types != null" >
        types = #{types,jdbcType=INTEGER},
      </if>
      <if test="postPrice != null" >
        post_price = #{postPrice,jdbcType=INTEGER},
      </if>
      <if test="goodsPrice != null" >
        goods_price = #{goodsPrice,jdbcType=DOUBLE},
      </if>
      <if test="position != null" >
        position = #{position,jdbcType=VARCHAR},
      </if>
      <if test="mainImage != null" >
        main_image = #{mainImage,jdbcType=VARCHAR},
      </if>
      <if test="htmlContent != null" >
        html_content = #{htmlContent,jdbcType=VARCHAR},
      </if>
      <if test="goodsLink != null" >
        goods_link = #{goodsLink,jdbcType=VARCHAR},
      </if>
      <if test="enabled != null" >
        enabled = #{enabled,jdbcType=INTEGER},
      </if>
      <if test="deleted != null" >
        deleted = #{deleted,jdbcType=INTEGER},
      </if>
        update_time = now(),
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.adam.mipet.goods.entity.ShopsGoods" >
    update shops_goods
    set title = #{title,jdbcType=VARCHAR},
      types = #{types,jdbcType=INTEGER},
      post_price = #{postPrice,jdbcType=INTEGER},
      goods_price = #{goodsPrice,jdbcType=DOUBLE},
      position = #{position,jdbcType=VARCHAR},
      main_image = #{mainImage,jdbcType=VARCHAR},
      html_content = #{htmlContent,jdbcType=VARCHAR},
      goods_link = #{goodsLink,jdbcType=VARCHAR},
      enabled = #{enabled,jdbcType=INTEGER},
      deleted = #{deleted,jdbcType=INTEGER},
      update_time = now()
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>