@charset "utf-8";
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td {
   margin: 0;
   padding: 0;
}

html {
    -webkit-text-size-adjust: none;
}

body,button,input,select,textarea {
    font: 12px/1.5 '微软雅黑',tahoma,arial,\5b8b\4f53,sans-serif;
}

/* h1,h2,h3,h4,h5,h6 {
    font-size: 100%;
} */

address,cite,dfn,em,var {
    font-style: normal;
}

code,kbd,pre,samp {
    font-family: courier new,courier,monospace;
}

ol,ul {
    list-style: none;
}

a {
    text-decoration: none;
    color:#000;
}

a:hover {
    text-decoration: underline;
    color:#f18700;
}

sup {
    vertical-align: text-top;
}

sub {
    vertical-align: text-bottom;
}

del {
    text-decoration: line-through;
}

abbr,acronym {
    border: 0;
    font-variant: normal;
}

legend {
    color: #000;
}

fieldset,img {
    border: 0;
}

button,input,select,textarea {
    font-size: 100%;
    outline: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

th {
    text-align: inherit;
}

caption,th {
    text-align: left;
}

iframe {
    display: block;
}

body .hide {
    display: none;
}

body .show {
    display: block;
}

.left,.fl {
    float: left;
}

.right,.fr {
    float: right;
}

.left,.right,.fl,.fr {
    display: inline;
}

.clear:before,.clear:after {
    content: "";
    display: table;
}

.clear:after {
    clear: both;
}

.clear {
    *zoom:1;}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: "\20";
    clear: both;
    height: 0;
}

.clearfix {
    *zoom:1;}
a:hover {
    text-decoration: none;
}
a:hover{
	text-decoration:none;
}
html,body{
	min-width:1200px;
	overflow-x:hidden;
	background:#fff;
}
.header,.footer{
	height:50px;
	display:block;
	background:#000;
	overflow-x:initial;
}
.header p,.footer p{
	color:#fff;
	line-height:50px;
}
.header .wapper,.footer .wapper{
	height:50px;
	position:relative;
}
.wapper{
	border:0;
	width:1200px;
	margin:0 auto;
}

.logo{
	display:inline-block;
	display*:inline;
}

.menu{
	display:inline-block;
	margin-top: 50px;
}
.menu>li{
	 display:block;
	 float:left;
}
.menu>li a{
	width:100px;
	display:block;
	line-height:50px;
	text-align:center;
	color:#fff;
	font-size:16px;
	font-family:"黑体";
}
.menu>li ul{
	display:none;
	z-index:1000;
	position:absolute;
	background:#000;
}
.menu li a:hover{
	color:#f18700;
}
.menu>li:hover ul{
	display:block;
	position:absolute;
	z-index:1000;
}
.menu>li ul li,.menu>li ul li a{
	line-height:42px;
	font-size:14px;
}
.y-block,.y-b-block{
	display:inline-block;
	border:50px solid transparent; 
	border-bottom-color:#f18700;
	border-top:0;
	border-right:0;
	border-left-color: #000000;
	position:absolute;
	right:-50px;
	top:0;
}
.y-block{
	left:1250px;
	width:10000px;
	border:0;
	height:50px;
	background:#f18700;
}

/* .footer .wapper ul{
	float: right;
	display: inline;
} */

.footer ul li {
float: left;
margin-right: 20px;

}

.footer a,.footer span{
color: #fff;
height: 50px;
line-height: 50px;
font-family: 微软雅黑;
}

.banner{
	height:313px;
	background-color: #e0e0e0;position: relative;
}
.banner img{
	width:100%;position: absolute;cursor: pointer;
}

@media only screen and (max-width:1300px){
	html,body{
		overflow-x:auto;
	}
	.wapper{
		width:1200px;
	}
	.banner{
		height:287px;
	}
	.y-block{
		display:none;
	}
	.wapper img{
		max-width:1200px!important;
	}
}
.wapper .title{
	width:100%;
	height:40px;
	background-image: url('../image/title.png');
	background-repeat: no-repeat;
	background-position: 10px 50%;
}

.wapper .title span{
	height: 40px;
	line-height: 40px;
	margin-left: 25px;
	font-size: 16px;
	font-weight: bold;
}

.guide{
	width:100%;
	height:300px;
	border-bottom: 1px solid #d4d5d6;
}

.guide .sub-check{
	width:180px;
	height:150px;
	margin-left:150px;
	float: left;
	background-image: url('../image/submit-check.png');
	background-repeat: no-repeat;
	background-size:75px 70px;
	background-position: 50% 0;
}
.guide .service-apply{
	width:180px;
	height:150px;
	float: left;
	background-image: url('../image/sys-joint.png');
	background-repeat: no-repeat;
	background-size:75px 70px;
	background-position: 50% 0;
}
.guide .joint{
	width:180px;
	height:150px;
	float: left;
	background-image: url('../image/joint.png');
	background-repeat: no-repeat;
	background-size:75px 70px;
	background-position: 50% 0;
}

.guide .sub-title{
    display: block;
    padding-top: 80px;
    display: block;
    font-size: 13px;
    font-weight: bold;
}

.guide .sub-cont{
    display: block; 
    margin-top: 6px;
    color: #5f5f5f;
}

.guide .line{
	float: left;
    font-size: 16px;
    font-weight: bold;
    height: 70px;
    line-height: 70px;
    width: 180px;
}

.guide .mail {
    display: block;
    float: right;
    margin-right: 20px;
    padding-top: 33px;
    width: 380px;
    word-break: break-all;
    word-wrap: break-word;
}

.fun{
	/* margin-top:30px; */
	/* height:510px; */
	width:100%;
	/* border-bottom: 1px solid #d4d5d6; */
}
.fun_left{
	/* height:500px; */
	width:780px;
	float: left;
	margin-right: 1%;
}
.fun_left .fun_div {
    float: left;
    height: 139px;
    width: 390px;
}

.fun_left .fun_title{
	width: 80px;
	height: 90px;
	float: left;
    margin-left:10px;
}

.fun_left .fun_div h3{
	margin-left:40px;
	padding-top: 7px;
	font-size:13px;
	float:left;
	color: #000000;
	font-weight:normal;
	width: 170px;
}

.fun_left .fun_div .fun_title a img {
   margin-left: 25px;
   margin-top: 10px;
}

.fun_left .fun_exp {
    color: #5f5f5f;
    display: block;
    float: left;
    font-family: "microsoft yahei",Tahoma,Geneva,sans-serif;
    font-size: 12px;
    margin-left: 40px;
    margin-top:10px;
    width: 170px;
}

.fun_right{
	width: 400px;
	height:500px;
	float: left;
}

.fun_right .fun_news{
	width: 350px;
	height:30px;
	background-image: url('../image/trends-line.png');
	background-repeat: no-repeat;
	margin: 12px 20px;
	background-position:0 50%;
	border-bottom: 1px solid #d4d5d6;
}

.fun_right .fun_news a{
	margin-left: 10px;
	height: 30px;
	line-height: 30px;
}

.fun_right .fun_news a span{
	padding: 0 10px;
}

.partner{
	width:100%;
	padding-bottom: 30px;
}

.partner a img{
	width: 180px;
	margin: 10px 20px;
}

.menu_left{
	width: 220px;
	border: 1px solid #797979;
	border-radius:5px;
	font-size: 16px;
	background-color: #fff;
	float: left;
	text-align:center;
	padding: 10px;
}

.menu_left_parent{
	width: 200px;
	height:40px;
	vertical-align:middle;   
	background-color: #000;
	border-radius:5px;
	color: #fff;
	text-align: center;
	line-height: 40px;
	display:inline-block;
}
.menu_left_child{
	width: 180px;
	height:40px;
	line-height: 40px;
	margin:10px;
	border-radius:5px;
	background-color: #fff;
	color: #000;
	text-align: center;
	background-repeat: no-repeat;
	/* background-image: url('../image/menu_notice.png'); */
	background-size: 20px;
	background-position: 25px 50%;
	padding-left:20px;
}
.menu_left_child1{
	width: 180px;
	height:40px;
	margin:10px;
	border-radius:5px;
	background-color: #f18700;
	color: #000;
	text-align: center;
	line-height: 40px;
	background-repeat: no-repeat;
	background-image: url('../image/menu_notice.png');
	background-size: 20px;
	background-position: 25px 50%;
	padding-left:20px;
}

.menu_left_child1 a{
	color: #fff;
}
.wapper .container_right{
	width:920px;
	float: right;
	padding-right: 20px;
}
.wapper .container_right h2{
	padding: 0 20px 5px;
	border-bottom: 2px solid #BCBCBC;
}

.container_right .platform_head{
	margin: 10px 0;
}

.container_right .platform_head .platform_head_title{
	width: 600px;
	float: left;
	padding-left: 20px;
}
.container_right .platform_head .platform_head_time{
	width: 300px;
	float: left;
}

.container_right .plat_list{
	border-bottom: 2px dotted #BCBCBC;
	height: 50px;
	line-height:50px;
	background-image: url('../image/vertical.png');
	background-repeat: no-repeat;
	background-position: 0 50%
}
.container_right .plat_title{
	width: 600px;
	float: left;
	padding-left: 10px;
}

.container_right .plat_time{
	width: 300px;
	float: left;
}

#problemList{
	width: 100%;
	margin-top: 20px;
}

#question{
	width: 100%;
	height: 20px;
	background-image: url('../image/square_ icon.png');
	background-repeat: no-repeat;
	padding-left: 25px;
	font-weight: bold;
	margin-top: 10px;
}

#answer{
	padding: 10px 30px;
	border-bottom: 2px solid #BCBCBC;

}

.container_right .contentList{
	width: 100%;
	height: 20px;
	background-image: url('../image/square_ icon.png');
	background-repeat: no-repeat;
	padding-left: 25px;
	font-weight: bold;
	margin-top: 15px;
}
.container_right .contentListInner{
	padding: 10px 30px;
	border-bottom: 2px solid #BCBCBC;
}
#container .positionNaviBar{
	position: relative;
	left:1200px;
	
	
}
#container .naviBar{
	text-align:center;
	font-size:12px; 
	width: 109px;
	position: fixed;
	bottom: 120px;
	line-height: 30px;
}

#container .naviBar .naviBarTitle{
	text-align: center;
	padding: 1px;
	margin: 1px;
	background-color: black;
	color: white;
}
#container .naviBar a{
	background-color: #f18700;
	color: white;
	width: 105px;
	text-align: center;
	padding: 0px 1px;
	margin: 1px;
	float: left;
}

#sdk_download{
	width: 300px;
	height: 100px;
	border: 1px solid #000;
	border-radius:10px;
	background-color: #fff;
	background-image: url('../image/sdk-download.png');
	background-repeat: no-repeat;
	background-position:20px 50%;
	margin: 20px 50px;
	cursor: pointer;
}

.sdk_info_title{
	width: 100%;
	height: 30px;
	background-image: url('../image/square_ icon.png');
	background-repeat: no-repeat;
	background-position:0 50%;
	padding-left: 25px;
	font-size:15px;
	font-weight: bold;
	margin-top: 10px;
}

.light{
	background-color: #f18700;
	color: white;
}
