<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.adam.sys.sysfunc.dao.DictDetailDao" >
  <resultMap id="BaseResultMap" type="com.adam.sys.sysfunc.entity.DictDetail" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="codeName" property="codeName" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="type_name" property="typeName" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="DATE" />
    <result column="update_time" property="updateTime" jdbcType="DATE" />
    <result column="deleted" property="isDeleted" jdbcType="INTEGER" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    id, code, type, type_name, description, create_time, update_time,deleted
  </sql>
  
  <select id="queryValidateCode" parameterType="com.adam.sys.sysfunc.entity.DictDetail" resultType="int">
    select count(1) from t_bd_dictionary_detail where code=#{code} and type=#{type}
  </select>
  
  <select id="queryById" parameterType="int" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/> from t_bd_dictionary_detail where id = #{id} and deleted=0
  </select>
  
  <select id="query" resultMap="BaseResultMap" parameterType="string" >
    select t.*,t1.name codeName from t_bd_dictionary_detail t left join t_bd_dictionary t1 on t.code=t1.code where t.deleted=0 and t.code=#{code}
  </select>
  
    <select id="queryList" resultMap="BaseResultMap" parameterType="string" >
    select t.* from t_bd_dictionary_detail t left join t_bd_dictionary t1 on t.code=t1.code where t.deleted=0 and t.code=#{code}
  </select>
  
  <select id="queryByTypeName" resultMap="BaseResultMap" parameterType="string" >
    select t.*,t1.name codeName from t_bd_dictionary_detail t left join t_bd_dictionary t1 on t.code=t1.code where t.deleted=0 and t.code=#{code}
  </select>
  
   <select id="findAll" resultMap="BaseResultMap" >
    select t.*,t1.name codeName from t_bd_dictionary_detail t left join t_bd_dictionary t1 on t.code=t1.code where t.deleted=0
  </select>
  
  <delete id="delete" parameterType="java.lang.Integer" >
    update t_bd_dictionary_detail set deleted=1,update_time=NOW() where id = #{id,jdbcType=INTEGER}
  </delete>
  
  <insert id="insert" parameterType="com.adam.sys.sysfunc.entity.DictDetail" useGeneratedKeys="true" keyProperty="id">
    insert into t_bd_dictionary_detail (code,codeName, type,type_name, description,create_time, update_time,deleted)
    values (#{code,jdbcType=VARCHAR},#{codeName,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, 
      #{typeName,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR},NOW(),NOW(), 0)
  </insert>
  
  <update id="update" parameterType="com.adam.sys.sysfunc.entity.DictDetail" >
    update t_bd_dictionary_detail
    set code = #{code,jdbcType=VARCHAR},
      type_name = #{typeName,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      update_time = NOW()
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="queryByCodeAndType" resultMap="BaseResultMap" parameterType="map" >
    select t.*,t1.name codeName from t_bd_dictionary_detail t left join t_bd_dictionary t1 on t.code=t1.code where  t.code=#{code}
    and t.type=#{type}
  </select>
</mapper>