<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.adam.sys.sysfunc.dao.DictDao" >
  <resultMap id="BaseResultMap" type="com.adam.sys.sysfunc.entity.Dict" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="DATE" />
    <result column="update_time" property="updateTime" jdbcType="DATE" />
    <result column="deleted" property="isDeleted" jdbcType="INTEGER" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    id, name, code, description, create_time, update_time, deleted
  </sql>
  
  <select id="query" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" /> from t_bd_dictionary where deleted=0
  </select>
  
   <select id="queryByCode" resultMap="BaseResultMap" parameterType="java.lang.String">
    select <include refid="Base_Column_List" /> from t_bd_dictionary  where code = #{code} and deleted=0
  </select>
  
  <select id="queryValidateCode" parameterType="string" resultType="int">
    select count(1) from t_bd_dictionary where code=#{code}
  </select>
  
  <select id="queryById" parameterType="int" resultType="int">
    select <include refid="Base_Column_List" /> from t_bd_dictionary where id = #{id}
  </select>
  
  <update id="delete" parameterType="java.lang.Integer" >
    update t_bd_dictionary set deleted=1,update_time=NOW() where id = #{id,jdbcType=INTEGER}
  </update>
  
  <insert id="insert" parameterType="com.adam.sys.sysfunc.entity.Dict" useGeneratedKeys="true" keyProperty="id">
    insert into t_bd_dictionary (name, code, description, create_time, update_time,deleted)
    values (#{name,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, NOW(),NOW(),0)
  </insert>
  
  <update id="update" parameterType="com.adam.sys.sysfunc.entity.Dict" >
    update t_bd_dictionary
    set name = #{name,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      update_time = NOW()
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>