<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.adam.sys.sysfunc.dao.WbDao" >
  <resultMap id="BaseResultMap" type="com.adam.sys.sysfunc.entity.Wb" >
    <id column="wb_id" property="wbId" jdbcType="INTEGER" />
    <result column="wb_name" property="wbName" jdbcType="VARCHAR" />
    <result column="data_type" property="dataType" jdbcType="VARCHAR" />
    <result column="web_url" property="webUrl" jdbcType="VARCHAR" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="updator" property="updator" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="is_deleted" property="isDeleted" jdbcType="INTEGER" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    wb_id,wb_name, data_type, web_url, creator, updator, create_time, update_time, is_deleted
  </sql>
  
  <select id="query" parameterType="com.adam.sys.sysfunc.entity.Wb" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" /> from t_sys_wb where is_deleted=0
    <if test="dataType!=null and dataType!=''">
       and data_type LIKE CONCAT('%',#{dataType,jdbcType=VARCHAR},'%') 
    </if>
    <if test="wbName!=null and wbName!=''">
       and wb_name LIKE CONCAT('%',#{wbName,jdbcType=VARCHAR},'%') 
    </if>
  </select>
  
  <select id="queryAll" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" /> from t_sys_wb where is_deleted=0
  </select>
  
  <select id="validateDataType" resultType="java.lang.Integer" parameterType="java.lang.String" >
    select count(1) from t_sys_wb where is_deleted=0 and data_type = #{dataType,jdbcType=VARCHAR}
  </select>
  
  <select id="queryByDataType" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select <include refid="Base_Column_List" /> from t_sys_wb where is_deleted=0 and data_type = #{dataType,jdbcType=VARCHAR}
  </select>
  
  <delete id="delete" parameterType="com.adam.sys.sysfunc.entity.Wb" >
    update t_sys_wb set is_deleted=1,updator=#{updator,jdbcType=VARCHAR} where data_type = #{dataType,jdbcType=VARCHAR}
  </delete>
  
  <insert id="insert" parameterType="com.adam.sys.sysfunc.entity.Wb" useGeneratedKeys="true" keyProperty="wbId">
    insert into t_sys_wb (wb_name,data_type, web_url,creator, updator)
    values (#{wbName,jdbcType=VARCHAR},#{dataType,jdbcType=VARCHAR}, #{webUrl,jdbcType=VARCHAR},#{creator,jdbcType=VARCHAR}, #{updator,jdbcType=VARCHAR})
  </insert>
  
  <update id="update" parameterType="com.adam.sys.sysfunc.entity.Wb" >
    update t_sys_wb
    set data_type = #{dataType,jdbcType=VARCHAR},
      wb_name = #{wbName,jdbcType=VARCHAR},
      web_url = #{webUrl,jdbcType=VARCHAR},
      updator = #{updator,jdbcType=VARCHAR},
      update_time =NOW()
    where wb_id = #{wbId,jdbcType=INTEGER}
  </update>
</mapper>