<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/mvc"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<annotation-driven conversion-service="formatConversionService"></annotation-driven>
	<context:annotation-config />
	<!-- 使用注解时一般都会配置扫描包路径选项 -->
	<context:component-scan base-package="com.adam.*.*.controller" />
	<mvc:annotation-driven>
		<!-- 启动JSON格式的配置 -->
		<mvc:message-converters>
			<!-- 这里也可以自己定制class -->
			<beans:bean id="jsonConverter"
				class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter"><!-- 这里也可以自己定制class -->
				<beans:property name="supportedMediaTypes">
					<beans:list>
							<beans:value>text/html;charset=UTF-8</beans:value>
						</beans:list>
					</beans:property>
			</beans:bean>
		</mvc:message-converters>
	</mvc:annotation-driven>

	<resources mapping="/**" location="/" />

	<!-- 避免IE执行AJAX时,返回JSON出现下载文件 -->
	<beans:bean id="fastJsonHttpMessageConverter"
		class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter">
		<beans:property name="supportedMediaTypes">
			<beans:list>
				<beans:value>application/json;charset=UTF-8</beans:value>
			</beans:list>
		</beans:property>
	</beans:bean>

	<!-- 类型转换 -->
	<beans:bean id="formatConversionService"
		class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
	</beans:bean>
		
	<beans:bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<beans:property name="viewClass"
			value="org.springframework.web.servlet.view.JstlView"></beans:property>
		<beans:property name="prefix" value="/WEB-INF/" />
		<beans:property name="suffix" value=".jsp" />
	</beans:bean>
	<!-- 文件上传配置 -->
	<beans:bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
			<!--上传文件大小限制为31M，31*1024*1024 -->
		<beans:property name="maxUploadSize" value="104857600" /> 
		<beans:property name="maxInMemorySize" value="4096" />
	</beans:bean>
	
<!--拦截登录 	--><mvc:interceptors>
		<beans:bean class="com.adam.common.interceptor.SecurityInterceptor" />
	</mvc:interceptors> 
</beans:beans>
