<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.adam.sys.apilist.dao.TypeDao">
	<resultMap id="BaseResultMap" type="com.adam.sys.apilist.entity.ApiInfoType">
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="url" property="url" jdbcType="VARCHAR" />
		<result column="sort" property="sort" jdbcType="INTEGER" />
		<result column="creator" property="creator" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="updator" property="updator" jdbcType="VARCHAR" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
		<result column="is_deleted" property="isDeleted" jdbcType="INTEGER" />
	</resultMap>
	<sql id="Base_Column_List">
		name,url,sort,is_deleted
	</sql>

	<select id="query" resultMap="BaseResultMap" parameterType="map">
		select 
		<include refid="Base_Column_List"/>
		from t_site_html_anchor
		where is_deleted = 0
		order by sort
	</select>
	
	<select id="queryWithOutBeing" resultMap="BaseResultMap" parameterType="map">
		select name
		from t_site_html_anchor
		where is_deleted = 0
		and name not in (select html_anchor_url from t_site_html where is_deleted = 0 and html_title = #{title})
		order by sort 
	</select>

	<select id="queryPrecNameBySort" parameterType="String" resultType="String">
		<![CDATA[
			select name from (
		select name from t_site_html_anchor where sort>(
			SELECT sort FROM t_site_html_anchor WHERE name=#{name}) order by sort
		)T LIMIT 1
		]]>
	</select>
	<select id="queryNextNameBySort" parameterType="String" resultType="String">
		<![CDATA[
		select name from (
		select name from t_site_html_anchor where sort<(
			SELECT sort FROM t_site_html_anchor WHERE name=#{name}) order by sort DESC
		)T LIMIT 1
		]]>
	</select>
	<update id="updateSortUp" parameterType="String">
		update t_site_html_anchor set sort = sort - 1 where name = #{name}
	</update>
	<update id="updateSortDown" parameterType="String">
		update t_site_html_anchor set sort = sort + 1 where name = #{name}
	</update>

	<update id="update" parameterType="com.adam.sys.apilist.entity.ApiInfoType">
		update t_site_html_anchor
		<set>
			update_time = now()
			<if test="name != null">
				,name = #{name}
			</if>
			<if test="url != null">
				,url = #{url}
			</if>
			<if test="sort != null">
				,sort = #{sort}
			</if>
		</set>
		<where>
			name = #{name}
		</where>
	</update>
	<update id="delete" parameterType="com.adam.sys.apilist.entity.ApiInfoType">
		update t_site_html_anchor set update_time = now(),is_deleted = 1
		<where>
			name = #{name}
		</where>
	</update>

	<insert id="insert" parameterType="com.adam.sys.apilist.entity.ApiInfoType">
		insert into t_site_html_anchor(
		name,url,creator,create_time,updator,update_time,is_deleted,sort)
		select #{name},#{url},#{creator},now(),#{updator},now(),0,max(sort)+1 from t_site_html_anchor where is_deleted = 0
	</insert>
	
	
</mapper>